body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.movie {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: auto;
  height: 150px;
  border-radius: 8px;
}

.selected-movie {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.selected-movie img {
  width: auto;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.selected-movie h2 {
  margin-top: 0;
}
